body{
  margin: 0px;
  background: aqua;
  background-repeat: no-repeat;
  
}
h1{
  text-align: center;
  font-size: 60px;
  color: violet;
  text-shadow: 1px 5px 1px black;
}
.h1{
  margin-top: -391px;
  text-align: center;
  font-size: 51px;
  color:  white;
  text-shadow: 2px 7px 18px black;
}
table{
  height: 100px;
  margin-top: -14px;
  border-spacing: 20px;
  font-size: 27.8px;
  border: 4px solid blue;
  margin-left: 0px;
  width: 100%;
}
table tr td{
   height: 30px;
  color: gold;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 4px solid red;
  background: white;
  box-shadow: 8px 6px 20px 0px black;
}
td a{
   text-shadow: 3px 3px 1px black;
  color: gold;
}
.a{
  margin-top: 40px;
  border: 4px solid aqua;
  margin-bottom: 0px;
  width: 100%;
  border-radius: 50px;
  border-spacing: 10px;
  height: 860px;
  background: linear-gradient(lemonchiffon, yellow);
}
.a tr td{
   height: 30px;
  color: gold;
  font-weight: bold;
  text-align: center;
  border-radius: 0px;
  border: 0px solid red;
  background: transparent;
  box-shadow: 0px 0px 0px 0px;
}
.a img{
  margin: 2px;
  width: 280px;
  border: 8px solid magenta;
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 50px;
  height: 400px;
}
hr{
  width: 90%;
  margin-top: -22px;
  height: 5px;
  background: red;
  box-shadow: 2px 2px 10px black;
}

p{
  margin-top: -390px;
  font-family: cursive;
  font-size: 56px;
  text-align: left;
  font-weight: bold;
  color:darkturquoise;
  text-shadow: 2px 1px 0px black;
}


.footer{
       
       font-size: 50px;
       margin-top: 20px;
       height: 80px;
       background: gainsboro;
       color: black;
       font-family: serif;
       font-weight: bold;
       text-align: center;
  }


