body{
  margin: 0px;
  background: plum;
  background-repeat: no-repeat;
  
}
h1{
  text-align: center;
  font-size: 60px;
  color: white;
  text-shadow: 1px 5px 1px black;
}
hr{
  height: 5px;
  background: white;
}
.h1{
  margin-top: -391px;
  text-align: center;
  font-size: 51px;
  color:  white;
  text-shadow: 2px 7px 18px black;
}
table{
  height: 100px;
  margin-top: -14px;
  border-spacing: 20px;
  font-size: 27.8px;
  border: 4px solid blue;
  margin-left: 0px;
  width: 100%;
}
table tr td{
   height: 30px;
  color: gold;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 4px solid red;
  background: white;
  box-shadow: 8px 6px 20px 0px black;
}
td a{
   text-shadow: 3px 3px 1px black;
  color: gold;
}
input{
       letter-spacing: 1px;
       word-spacing: 3px;
       box-shadow: 5px 0px 0px 1px blue;
       border: 3px solid red;
       margin: 60px;
       margin-left: 42px;
       border-radius: 90px;
       text-align: center;
       width: 90%;
       height: 110px;
       background: aquamarine;
       font-family: casual;
       font-weight: bolder;
       color: chocolate;
       font-size: 36px;
}

.w{
       text-shadow: 3px 3px 4px yellow;
       color: red;
       font-family: casual;
       font-size: 62px;
       margin-top: 55px;
       margin-left: 78px;
       font-weight: bold;
}
.ww{
       font-weight: bold;
       text-shadow: 3px 3px 4px yellow;
       color: red;
       font-family: casual;
       font-size: 62px;
       height: 63px;
       margin-left: 10px;
}
.www{
       font-weight: bold;
       text-shadow: 3px 3px 4px yellow;
       color: red;
       font-family: casual;
       font-size: 62px;
       margin-top: 0px;
       margin-left: 10px;
}
.footer{
       font-size: 51px;
       margin-top: 20px;
       height: 80px;
       background: white;
       color: black;
       font-family: serif;
       font-weight: bold;
       text-align: center;
             }