body{
  margin: 0px;
  background: linear-gradient(blue, skyblue);
  background-repeat: no-repeat;
  
}
h1{
  letter-spacing: 5px;
  word-spacing: 20px;
  text-align: center;
  font-size: 60px;
  color: yellow;
  text-shadow: 3px 3px 1px red;
}
.h1{
  margin-top: 1px;
  text-align: center;
  font-size: 52px;
  color:  white;
  text-shadow: 2px 7px 18px black;
}
table{
  height: 100px;
  margin-top: -14px;
  border-spacing: 30px;
  font-size: 27.8px;
  border: 4px solid lime;
  margin-left: 0px;
  width: 100%;
}
table tr td{
   height: 30px;
  color: gold;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 4px solid yellow;
  background: white;
  box-shadow: 8px 6px 20px 0px black;
}
td a{
   text-shadow: 3px 3px 1px black;
  color: gold;
}
.a{
  margin-top: 20px;
  border: 4px solid yellow;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 50px;
  border-spacing: 10px;
  height: 860px;
  background:  linear-gradient(lightskyblue, skyblue, deepskyblue );
}
.a tr td{
   height: 30px;
  color: gold;
  font-weight: bold;
  text-align: center;
  border-radius: 0px;
  border: 0px solid red;
  background: transparent;
  box-shadow: 0px 0px 0px 0px;
}
hr{
  width: 90%;
  margin-top: -10px;
  height: 8px;
  background: red;
  box-shadow: 2px 2px 10px black;
}

p{
  font-family: cursive;
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  color: y;
  text-shadow: 2px 1px 0px black;
}


.footer{
       
       font-size: 50px;
       margin-top: 20px;
       height: 80px;
       background: gainsboro;
       color: black;
       font-family: serif;
       font-weight: bold;
       text-align: center;
  }
